h1{font-family:Verdana, Geneva, Tahoma, sans-serif;}


h2{text-decoration: underline;}

h3{font-family:Georgia, 'Times New Roman', Times, serif;}

.paddingspace{padding-bottom:30px;}

.bold{font-weight: bold;}

.anchor{color:coral}

.image1{padding-left: 250px;}

.subheading{font-family: 'Times New Roman', Times, serif; font-weight: bold}

.color{background-color: lavender;}